In [1]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\AIDS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\AIDS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\AIDS\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\AIDS\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\AIDS\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [4]:
text="Hello. how are you?"

In [7]:
from nltk.tokenize import sent_tokenize
tokenize_text=sent_tokenize(text)

In [8]:
tokenize_text

['Hello.', 'how are you?']

In [9]:
from nltk.tokenize import word_tokenize
tokenized_word=word_tokenize(text)
tokenized_word

['Hello', '.', 'how', 'are', 'you', '?']

In [11]:
from nltk.corpus import stopwords
stop_words=set(stopwords.words("english"))
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 "he's",
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 "i'll",
 "i'm",
 "i've",
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 "we've",
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [12]:
wordsFiltered=[]
for w in tokenized_word:
    if w not in stop_words:
        wordsFiltered.append(w)
        
print(wordsFiltered)

['Hello', '.', '?']

In [15]:
from nltk.stem import PorterStemmer
words=["game","gaming","gamed","games"]
ps=PorterStemmer()

for word in words:
    print(ps.stem(word))

game
game
game
game

In [17]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
text1 = "studies studying cries cry"
tokenization = nltk.word_tokenize(text1)
for w in tokenization:
    print("Lemma for {} is {}".format(w,wordnet_lemmatizer.lemmatize(w)))

Lemma for studies is study
Lemma for studying is studying
Lemma for cries is cry
Lemma for cry is cry

In [18]:
for word in tokenized_word:
    print(nltk.pos_tag([word]))

[('Hello', 'NN')]
[('.', '.')]
[('how', 'WRB')]
[('are', 'VBP')]
[('you', 'PRP')]
[('?', '.')]

In [20]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [21]:
documentA='Jupiter is the largest planet from the sun'
documentB='Mars is the fourth palent from the Sun'

In [25]:
bagOfWordsA=documentA.split(' ')
bagOfWordsB=documentB.split(' ')

In [26]:
bagOfWordsA

['Jupiter', 'is', 'the', 'largest', 'planet', 'from', 'the', 'sun']

In [27]:
bagOfWordsB

['Mars', 'is', 'the', 'fourth', 'palent', 'from', 'the', 'Sun']

In [28]:
uniqueWords=set(bagOfWordsA).union(set(bagOfWordsB))

In [29]:
uniqueWords

{'Jupiter',
 'Mars',
 'Sun',
 'fourth',
 'from',
 'is',
 'largest',
 'palent',
 'planet',
 'sun',
 'the'}

In [31]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsA:
    numOfWordsA[word] += 1
numOfWordsB = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsB:
    numOfWordsB[word] += 1

In [32]:
numOfWordsA

{'largest': 1,
 'palent': 0,
 'planet': 1,
 'from': 1,
 'is': 1,
 'Sun': 0,
 'fourth': 0,
 'Mars': 0,
 'Jupiter': 1,
 'sun': 1,
 'the': 2}

In [33]:
numOfWordsB

{'largest': 0,
 'palent': 1,
 'planet': 0,
 'from': 1,
 'is': 1,
 'Sun': 1,
 'fourth': 1,
 'Mars': 1,
 'Jupiter': 0,
 'sun': 0,
 'the': 2}

In [37]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict
tfA = computeTF(numOfWordsA, bagOfWordsA)
tfB = computeTF(numOfWordsB, bagOfWordsB)

In [38]:
tfA

{'largest': 0.125,
 'palent': 0.0,
 'planet': 0.125,
 'from': 0.125,
 'is': 0.125,
 'Sun': 0.0,
 'fourth': 0.0,
 'Mars': 0.0,
 'Jupiter': 0.125,
 'sun': 0.125,
 'the': 0.25}

In [39]:
tfB

{'largest': 0.0,
 'palent': 0.125,
 'planet': 0.0,
 'from': 0.125,
 'is': 0.125,
 'Sun': 0.125,
 'fourth': 0.125,
 'Mars': 0.125,
 'Jupiter': 0.0,
 'sun': 0.0,
 'the': 0.25}

In [41]:
def computeIDF(documents):S
    import math
    N = len(documents)
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

{'largest': 0.6931471805599453,
 'palent': 0.6931471805599453,
 'planet': 0.6931471805599453,
 'from': 0.0,
 'is': 0.0,
 'Sun': 0.6931471805599453,
 'fourth': 0.6931471805599453,
 'Mars': 0.6931471805599453,
 'Jupiter': 0.6931471805599453,
 'sun': 0.6931471805599453,
 'the': 0.0}

In [43]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [44]:
tfidfA = computeTFIDF(tfA, idfs)
tfidfB = computeTFIDF(tfB, idfs)
df = pd.DataFrame([tfidfA, tfidfB])
df

,largest,palent,planet,from,is,Sun,fourth,Mars,Jupiter,sun,the
0,0.086643,0.000000,0.086643,0.0,0.0,0.000000,0.000000,0.000000,0.086643,0.086643,0.0
1,0.000000,0.086643,0.000000,0.0,0.0,0.086643,0.086643,0.086643,0.000000,0.000000,0.0